.modal__content-image {
  max-width: 498px;
  max-height: 610px;
  width: 17%;
  height: 45%;
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.modal__preview-image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-width: 498px;
  max-height: 498px;
}

.modal__caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 32px;
  margin-top: 20px;
  font-family: "Cabinet Grotesk Medium", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.modal__button:hover {
  opacity: 60%;
}

.modal__deleteButton {
  background: transparent center no-repeat;
  border: none;
  outline: none;
  transition: opacity 0.1s;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  padding: 0;
  margin-left: 325px;
  color: #ff4d00;
  font-size: 20px;
}
