.sidebar {
  display: flex;
  margin: 40px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sidebar__name {
  font-family: "Cabinet Grotesk Medium";
  font-size: 20px;
  line-height: 25px;
}

.sidebar__btns {
  background: transparent;
  font-family: "Cabinet Grotesk Medium";
  border: none;
  outline: none;
  font-size: 20px;
  transition: opacity 0.2s ease-in;
  cursor: pointer;
  text-align: start;
  padding-left: 0;
}
.sidebar__btns:hover {
  opacity: 60%;
}
